*{
	padding: 0;
	margin: 0;
}
@media only screen and (min-width:960px) {
	
	#ana{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
	}
	#menu{
		position: absolute;
		top: 0;
		left: 0;
		width: 20%;
		height: 100%;
		background-color: #535353;
		display: block;
	}
	#logoPanel{
		position: absolute;
		top: 10px;
		left: calc(calc(100% - 117px) / 2);
		width: 100%;
	}
	#logoResim{
		height: 20px;
		position: absolute;

	}
	#logoIsim{
		position: absolute;
		top: 4px;
		left: 30px;
	}
	#kisiPanel{
		position: absolute;
		top: 70px;
		left: 0;
		width: 100%;
		height: 90px;
		background-color: #fdca12;
	}
	#kisiResim{
		position: absolute;
		left: 18px;
		top: 13px
	}
	#kisiIsim{
		position: absolute;
		left: 82px;
		top: 30px;
		width: calc(100% - 82px);
		color: #535353;
		font-size: 70%;
		text-align: center;
	}

	#btnCikis{
		position: absolute;
		left: 82px;
		top: 50px;
		width: calc(100% - 82px);
		color: #535353;
		font-size: 55%;
		color: maroon;
		cursor: pointer;
		text-align: center;
	}

	#menuPanel{
		position: absolute;
		top: 200px;
		left: 0;
		width: 100%;
		overflow: auto;
		height: calc(100% - 230px);
	}

	#menuPanel ul li div span{
		color: #fdca12;
		position: absolute;
		font-size: 65%;
		top: 18px;
		left: 65px;
	}

	#menuPanel ul{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;
		list-style-type: none;
	}
	#menuPanel ul li div{
		padding: 10px 10px 10px 15px;
		height: 32px;
		position: relative;
	}
	#menu ul li{
		transition: background-color ease-in 0.3s;
		cursor: pointer;
	}
	#menu ul li:hover{
		background-color: #868686;
	}

	#menuPanel ul li ul li{
		padding-left: 30px; 
	}

	#menuPanel ul li ul{
		display: none; 
	}

	#menu ul li ul li:hover{
		background-color: #646464;
	}
	.menuSecili{
		background-color: #868686;
	}



	::-webkit-scrollbar {
	  width: 1px;
	  height: 1px;
	}
	::-webkit-scrollbar-button {
	  width: 2px;
	  height: 2px;
	}
	::-webkit-scrollbar-thumb {
	  background: #fdca12;
	  border: 13px none #ffffff;
	  border-radius: 20px;
	}
	::-webkit-scrollbar-thumb:hover {
	  background: #f3be21;
	}
	::-webkit-scrollbar-thumb:active {
	  background: #f0b428;
	}
	::-webkit-scrollbar-track {
	  background: #535353;
	  border: 14px none #ffffff;
	  border-radius: 20px;
	}
	::-webkit-scrollbar-track:hover {
	  background: #464646;
	}
	::-webkit-scrollbar-track:active {
	  background: #414141;
	}
	::-webkit-scrollbar-corner {
	  background: transparent;
	}

	#baslik{
		width: 100%;
		height: 60px;
		background: rgb(83,83,83);
		background: linear-gradient(180deg, rgba(83,83,83,1) 80%, rgba(255,255,255,0.1) 100%);
	}

	#footer{
		padding: 10px 0 10px 0;
		position: absolute;
		top: calc(100% - 30px);
		font-size : 10px;
		left: 0;
		width: 100%;
		text-align: center;
		color: white;
	}

	#icerik{
		position: absolute;
		top: 0;
		left: 20%;
		width: 80%;
		height: 100%;
		display: block;
	}

	#degisenIcerik{
		position: absolute;
		top: 60px;
		left: 0px;
		width: 100%;
		height: calc(100% - 60px);
		overflow: auto;
	}
	#hanburgerMenu{
		position: absolute;
		top: 10px;
		left: 10px;
		cursor: pointer;
	}

	#sayfaBaslik{
		position: absolute;
		top: 14px;
		left: 70px;
		font-size: 22px;
		color: #fdca12;
	}

	#bildirimBtn{
		position: absolute;
		top: 10px;
		left: calc(100% - 40px);
		cursor: pointer;
	}

	#bildirimpanel{
		position: absolute;
		border-radius: 8px;
		top: 40px;
		left: calc(100% - 360px);
		width: 350px;
		background-color: white;
		overflow: auto;
		display: none;
		height: 230px;
		box-shadow: 0 0 3px 3px black;
		z-index: 9999;
	}
	#bildirimSayi{
		position: absolute;
		top: 5px;
		left: calc(100% - 25px);
		padding: 2px;
		border-radius: 10px;
		background-color: white;
		color: #fdca12;
		font-size: 10px;
		width: 10px;
		text-align: center;
	}
	#uzunYol{
		position: absolute;
		top: 35px;
		left: 50%;
		width: 50%;
		text-align: right;
		font-size: 10px;
		color: #fdca12;
		margin-left: -10px;
	}
	#geriBtn{
		position: absolute;
		top: 10px;
		left: 10px;
		cursor: pointer;
		display: none;
	}

	#ortaorta{
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		padding: 10px;
	}
	

}

@media only screen and (min-width:768px) and (max-width:959px) {
	#bildirimpanel{
		position: absolute;
		border-radius: 8px;
		top: 40px;
		left: calc(100% - 360px);
		width: 350px;
		background-color: white;
		overflow: auto;
		display: none;
		height: 230px;
		box-shadow: 0 0 3px 3px black;
		z-index: 9999;
	}
	#ana{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
	}
	#menu{
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		height: 100%;
		background-color: #535353;
		display: block;
	}
	#logoPanel{
		position: absolute;
		top: 5px;
		left: calc(calc(100% - 90px) / 2);
		width: 100%;
	}
	#logoResim{
		height: 14px;
		position: absolute;

	}
	#logoIsim{
		position: absolute;
		top: 3px;
		left: 20px;
		height: 8px;
	}
	#kisiPanel{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 70px;
		background-color: #fdca12;
	}
	#kisiResim{
		position: absolute;
		left: 18px;
		top: 5px
	}
	#kisiIsim{
		position: absolute;
		left: 82px;
		top: 20px;
		width: calc(100% - 82px);
		color: #535353;
		font-size: 70%;
		text-align: center;
	}

	#btnCikis{
		position: absolute;
		left: 82px;
		top: 40px;
		width: calc(100% - 82px);
		color: #535353;
		font-size: 55%;
		color: maroon;
		cursor: pointer;
		text-align: center;
	}

	#menuPanel{
		position: absolute;
		top: 150px;
		left: 0;
		width: 100%;
		overflow: auto;
		height: calc(100% - 165px);
	}

	#menuPanel ul li div span{
		color: #fdca12;
		position: absolute;
		font-size: 65%;
		top: 12px;
		left: 55px;
	}

	#menuPanel ul li div img{
		height: 24px;
	}

	#menuPanel ul{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;
		list-style-type: none;
	}
	#menuPanel ul li div{
		padding: 5px 5px 5px 15px;
		height: 24px;
		position: relative;
	}
	#menu ul li{
		transition: background-color ease-in 0.3s;
		cursor: pointer;
	}
	#menu ul li:hover{
		background-color: #868686;
	}

	#menuPanel ul li ul li{
		padding-left: 30px; 
	}

	#menuPanel ul li ul{
		display: none; 
	}

	#menu ul li ul li:hover{
		background-color: #646464;
	}
	.menuSecili{
		background-color: #868686;
	}



	::-webkit-scrollbar {
	  width: 1px;
	  height: 1px;
	}
	::-webkit-scrollbar-button {
	  width: 2px;
	  height: 2px;
	}
	::-webkit-scrollbar-thumb {
	  background: #fdca12;
	  border: 13px none #ffffff;
	  border-radius: 20px;
	}
	::-webkit-scrollbar-thumb:hover {
	  background: #f3be21;
	}
	::-webkit-scrollbar-thumb:active {
	  background: #f0b428;
	}
	::-webkit-scrollbar-track {
	  background: #535353;
	  border: 14px none #ffffff;
	  border-radius: 20px;
	}
	::-webkit-scrollbar-track:hover {
	  background: #464646;
	}
	::-webkit-scrollbar-track:active {
	  background: #414141;
	}
	::-webkit-scrollbar-corner {
	  background: transparent;
	}

	#baslik{
		width: 100%;
		height: 40px;
		background: rgb(83,83,83);
		background: linear-gradient(180deg, rgba(83,83,83,1) 80%, rgba(255,255,255,0.1) 100%);
	}

	#footer{
		padding: 4px 0 4px 0;
		position: absolute;
		top: calc(100% - 14px);
		font-size : 6px;
		left: 0;
		width: 100%;
		text-align: center;
		color: white;
	}

	#icerik{
		position: absolute;
		top: 0;
		left: 30%;
		width: 70%;
		height: 100%;
		display: block;
	}

	#degisenIcerik{
		position: absolute;
		top: 40px;
		left: 0px;
		width: 100%;
		height: calc(100% - 40px);
		overflow: auto;
	}
	#hanburgerMenu{
		position: absolute;
		top: 5px;
		left: 10px;
		width: 24px;
		height: 24px;
		cursor: pointer;
	}

	#sayfaBaslik{
		position: absolute;
		top: 8px;
		left: 60px;
		font-size: 14px;
		color: #fdca12;
	}

	#bildirimBtn{
		position: absolute;
		top: 5px;
		height: 14px;
		left: calc(100% - 40px);
		cursor: pointer;
	}
	#bildirimSayi{
		position: absolute;
		top: 2px;
		left: calc(100% - 30px);
		padding: 1px;
		border-radius: 10px;
		background-color: white;
		color: #fdca12;
		font-size: 7px;
		width: 7px;
		text-align: center;
	}
	#uzunYol{
		position: absolute;
		top: 25px;
		left: 50%;
		width: 50%;
		text-align: right;
		font-size: 7px;
		color: #fdca12;
		margin-left: -10px;
	}
	#geriBtn{
		position: absolute;
		top: 10px;
		left: 10px;
		cursor: pointer;
		display: none;
	}
	#ortaorta{
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		padding: 10px;
	}

}

@media only screen and (max-width:767px) {
	#bildirimpanel{
		position: absolute;
		border-radius: 8px;
		top: 40px;
		left: calc(100% - 360px);
		width: 350px;
		background-color: white;
		overflow: auto;
		display: none;
		height: 230px;
		box-shadow: 0 0 3px 3px black;
		z-index: 9999;
	}
	#ana{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
	}
	#menu{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #535353;
	}
	#logoPanel{
		position: absolute;
		top: 5px;
		left: calc(calc(100% - 90px) / 2);
		width: 100%;
	}
	#logoResim{
		height: 14px;
		position: absolute;

	}
	#logoIsim{
		position: absolute;
		top: 3px;
		left: 20px;
		height: 8px;
	}
	#kisiPanel{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 70px;
		background-color: #fdca12;
	}
	#kisiResim{
		position: absolute;
		left: 18px;
		top: 5px
	}
	#kisiIsim{
		position: absolute;
		left: 82px;
		top: 20px;
		width: calc(100% - 82px);
		color: #535353;
		font-size: 70%;
		text-align: center;
	}

	#btnCikis{
		position: absolute;
		left: 82px;
		top: 40px;
		width: calc(100% - 82px);
		color: #535353;
		font-size: 55%;
		color: maroon;
		cursor: pointer;
		text-align: center;
	}

	#menuPanel{
		position: absolute;
		top: 150px;
		left: 0;
		width: 100%;
		overflow: auto;
		height: calc(100% - 165px);
	}

	#menuPanel ul li div span{
		color: #fdca12;
		position: absolute;
		font-size: 65%;
		top: 12px;
		left: 55px;
	}

	#menuPanel ul li div img{
		height: 24px;
	}

	#menuPanel ul{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;
		list-style-type: none;
	}
	#menuPanel ul li div{
		padding: 5px 5px 5px 15px;
		height: 24px;
		position: relative;
	}
	#menu ul li{
		transition: background-color ease-in 0.3s;
		cursor: pointer;
	}
	#menu ul li:hover{
		background-color: #868686;
	}

	#menuPanel ul li ul li{
		padding-left: 30px; 
	}

	#menuPanel ul li ul{
		display: none; 
	}

	#menu ul li ul li:hover{
		background-color: #646464;
	}
	.menuSecili{
		background-color: #868686;
	}



	::-webkit-scrollbar {
	  width: 1px;
	  height: 1px;
	}
	::-webkit-scrollbar-button {
	  width: 2px;
	  height: 2px;
	}
	::-webkit-scrollbar-thumb {
	  background: #fdca12;
	  border: 13px none #ffffff;
	  border-radius: 20px;
	}
	::-webkit-scrollbar-thumb:hover {
	  background: #f3be21;
	}
	::-webkit-scrollbar-thumb:active {
	  background: #f0b428;
	}
	::-webkit-scrollbar-track {
	  background: #535353;
	  border: 14px none #ffffff;
	  border-radius: 20px;
	}
	::-webkit-scrollbar-track:hover {
	  background: #464646;
	}
	::-webkit-scrollbar-track:active {
	  background: #414141;
	}
	::-webkit-scrollbar-corner {
	  background: transparent;
	}

	#baslik{
		width: 100%;
		height: 40px;
		background: rgb(83,83,83);
		background: linear-gradient(180deg, rgba(83,83,83,1) 80%, rgba(255,255,255,0.1) 100%);
	}

	#footer{
		padding: 4px 0 4px 0;
		position: absolute;
		top: calc(100% - 14px);
		font-size : 6px;
		left: 0;
		width: 100%;
		text-align: center;
		color: white;
	}

	#geriBtn{
		position: absolute;
		top: 10px;
		left: 10px;
		cursor: pointer;
		display: block;
	}

	#icerik{
		position: absolute;
		top: 0;
		left: 100%;
		width: 0;
		height: 100%;
		display: none;
	}

	#degisenIcerik{
		position: absolute;
		top: 40px;
		left: 0px;
		width: 100%;
		height: calc(100% - 40px);
		overflow: auto;
	}
	#hanburgerMenu{
		position: absolute;
		top: 5px;
		left: 10px;
		width: 24px;
		height: 24px;
		cursor: pointer;
	}

	#sayfaBaslik{
		position: absolute;
		top: 8px;
		left: 60px;
		font-size: 14px;
		color: #fdca12;
	}

	#bildirimBtn{
		position: absolute;
		top: 5px;
		height: 14px;
		left: calc(100% - 40px);
		cursor: pointer;
	}
	#bildirimSayi{
		position: absolute;
		top: 2px;
		left: calc(100% - 30px);
		padding: 1px;
		border-radius: 10px;
		background-color: white;
		color: #fdca12;
		font-size: 7px;
		width: 7px;
		text-align: center;
	}
	#uzunYol{
		position: absolute;
		top: 25px;
		left: 50%;
		width: 50%;
		text-align: right;
		font-size: 7px;
		color: #fdca12;
		margin-left: -10px;
	}
	#ortaorta{
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		padding: 10px;
	}

}