body{
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: sans-serif;
    background-repeat:  no-repeat;
}
#ekstre h1{
	 color: #fdca12;
    text-transform: uppercase;
    font-weight: 500;
}
#ekstre{
	width: 300px;
    position: absolute;
    left: calc(100% - 330px) ;
    background: #191919
    color: #fdca12;
    text-align: center;
    top: 0;
} 
#kartbilgileri{
	position: absolute;
	left:40px;
	top: 250px;
}
.cizgi{
	
	background-color:  blue;
	height: 1px;
	border:0;
	width: 100%;
}
#ekstretarih{
	position: absolute;
	left:40px;
	top: 350px;
}
#cizgi1{

	position: absolute;
	left:40px;
	top: 425px;
	background-color: blue;
	height: 1px;
	border:0;
	width: 1000px;
}
#ekstrelimit{
	position: absolute;
	left:40px;
	top: 430px;
}
#cizgi2{
	position: absolute;
	left: 40px;
	top: 500px;
	background-color: blue;
	height: 1px;
	border:0;
	width: 1000px;	
}
#müsteribilgi{
	position: absolute;
	left:40px;
	top: 500px;
}
.logo{
 margin: 0;
 padding: 0;
 width: 250px;
 height: 250px;
 background-color: #535353;
 border-bottom-right-radius: 250px;
}
.logo img{
	margin-left: 15px;
	margin-top: 5px;

}
#ekstrepanel{
	position: absolute;
	top: 0;

	left: calc(50% - 300px);
	width: 600px;
	height: 100%;

}
@media screen and (max-width: 767px){
	.logo{
 margin: 0;
 padding: 0;
 width: 80px;
 height: 100px;
 background-color: #535353;
 border-bottom-right-radius: 250px;
}
.logo img{
	height: 75px;
	margin-left: 5px;
	margin-top: 3px;

}
#ekstre h1{
	 color: #fdca12;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
}
#ekstre{
	width: 225px;
    position: absolute;
    left: calc(100% - 200px) ;
    background: #191919
    color: #fdca12;
    text-align: center;
    top: 0;
} 
#kartbilgileri{
	position: absolute;
	left:10px;
	top: 150px;
}
#cizgi{
	position: absolute;
	left:10px;
	top: 245px;
	background-color:  blue;
	height: 1px;
	border:0;
	width: 1000px;
}
#ekstretarih{
	position: absolute;
	left:10px;
	top: 250px;
}
#cizgi1{

	position: absolute;
	left:10px;
	top: 325px;
	background-color: blue;
	height: 1px;
	border:0;
	width: 1000px;
}
#ekstrelimit{
	position: absolute;
	left:10px;
	top: 330px;
}
#cizgi2{
	position: absolute;
	left: 10px;
	top: 400px;
	background-color: blue;
	height: 1px;
	border:0;
	width: 1000px;	
}
#müsteribilgi{
	position: absolute;
	left:10px;
	top: 400px;
}
#ekstrepanel{
	position: absolute;
	top: 0;

	left: calc(50% - 175px);
	width: 350px;
	height: 30%;

}


}

